@page "{id:int}"
@model MainSite.Pages.Books.DeleteModel

<h3>Удалить книгу "@Model.Book.Title" @Model.Book.AuthorName</h3>
<form method="post">
    <div class="mt-1">
        <button class="btn btn-secondary" asp-page-handler="Cancel">Отменить</button>
        <button class="btn btn-primary" type="submit">Да</button>
    </div>
</form>
